/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 jul. 2022, 21:43:36
    Author     : Daniela
*/

@import url(https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Oxygen:wght@300&display=swap|Raleway:300,700,400);
*{
	box-sizing: border-box;
	font-size: 20px;
	margin: 0;
	padding: 0;
}
body{
	background: url(../images/hotel-vistalmar.jpg) center;
	background-size: cover;
	color: #183254;
	font-size: 18px;
	font-family: 'Kdam Thmor Pro', sans-serif;
        font-family: 'Oxygen', sans-serif;
}
.container{ /*Para darle formato al cuadro de registro*/
	border-radius: 20px;
	box-shadow: 0 0 30px 0;
	max-width: 480px; /*Tamaño de la caja de registro*/
	overflow: hidden; /*Para que la imagen de fondo no se vea borrosa*/
        transform: translate(-50%, -50%); /*permite mover o rotar nuestros elementos, translate mueve el elemento según la posición donde se encuentre*/
	padding: 35px; /*Tamaño del cuadro de registro*/
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
}
.container:before{ /*Para darle formato al cuadro de registro*/
        background: url(../images/hotel-vistalmar.jpg) center; 
	content: ''; /*Para que se vea borrosa la parte del registro*/
	filter: blur(10px); /*Para que se vea borrosa la parte del registro*/
	height: 100%;
	position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
	transform: translate(-50%, -50%);
	width: 100%;
}
.container:after{ /*Para darle formato al cuadro de registro*/
	background: rgba(230,230,230,0.50); /*Color del registro*/
	content: '';
	height: 100%;
	position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	width: 100%;
}

button.submit{
	background: rgba(230,230,230,0.50); /*Color del botón registrarte*/
	border: 1px solid #183254;
        border-radius: 5px;    
	line-height: 16px;
	padding: 10px 8px;
}
button:hover,
button:focus,
button:active,
button.loading{
	background: #183254;/*color del hoover - botón registrarte*/
	color: #fff; /*color de la letra hoover - botón registrarte*/	
}
form label{ /*Formato del registro (lineas de los campos)*/
	border-bottom: 1px solid #183254;
	display: block;
	font-size: 25px;
	margin-bottom: 15px;
}

label.col-fields{/*Para que el campo de Nombre y Apellidos quedé en la misma linea*/
	float: left;
	width: 50%;
}

/*No borrar lo primero que es para que solo cree la line en el medio y no la cree antes del Nombre*/
label.col-fields:nth-of-type(even){/*linea de separación entre Nombre y Apellidos*/
	border-left: 1px solid #183254;
	padding-left: 5px; /*Identación del campo de apellidos*/
}

label input{/*para que no se muestre el espacio donde se debe escribir
        Las primeras dos son para que no se vean los espacios*/
	background: none; 
	border: none;
	line-height: 16px;
	font-weight: 100; /*grosor de la negrita en la información que ingresan*/
	width: 100%;
        font-family: 'Oxygen', sans-serif;
        outline: none;
        background-color: transparent;
}

label span.label-text{ /*Formato para el nombre de los campos*/
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding-left: 5px;
	text-transform: uppercase;
}

form label.invalid{border-color: #333 !important;}
form label.invalid span.label-text{color: #333;}
form label.password{
    position: relative;
}
form label.password button.password2{
	background: none;
	border: none;
	cursor: pointer;
	font-size: 10px;
	line-height: 16px;
	position: absolute;
		top: 50%;
		right: 0.5em;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
label.password button.password2:hover,
label.password button.password2:focus,
label.password button.password2:active{
	color: #000;
	outline: none;
}
form label.password button.password2 span{
    vertical-align: middle;
}

h1{/*con este le damos formato al título Registro*/
	font-size: 55px;
	margin: 0 0 50px 0;
	text-align: center;
	font-family: 'Kdam Thmor Pro', sans-serif;
        font-family: 'Oxygen', sans-serif;
}
h1 img{/*Para darle formato a la imagen de fondo*/
	height: auto;
	margin: 0 auto;
	max-width: 240px;
	width: 100%;
}
html{/*Para que la imagen se vea completa de un tamaño correcto en el background*/
	font-size: 18px;
	height: 100%;
}

.text-fields{ /*para que el registrate esté centrado*/
	text-align: center;
}