<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/detallesRooms.css">
    </head>
    <body>
        <div>
            <!-- Esta es la clase id que no se repite, y la clase se define asi para dividir en columna (y)-->
            <nav id = "navbar" class="py-30">
                <div class="container">
                    <!--Header 1 -->
                    <h1 class="logo"><a href="home.html"> Hotel Palace</a></h1>
                    <!-- Vamos a crear una lista-->
                    <ul>
                        <li><a href="detallesRooms.html">Habitaciones</a></li>
                        <li><a href="Home.html">Servicios</a></li>
                        <li><a href="acerca_de.html">Nosotros</a></li>
                        <li><a href="Home.html">Contactos</a></li>
                        <li><a href="logins.html">Salir</a></li>
                    </ul>
                </div> 
            </nav> 
            <br>
            <br>
            
            <br>
            <br>

            <h1 th:text="#{index.titulo}"></h1>
            <table class="table table-dark table-striped">

                <!-- El table head es para el nombre de las columnas, lo demás es para darle formato -->
                <thead class="thead-dark"> 

                    <!-- Aquí agregamos los table rows, que son los nombres de las columnas de la tabla -->
                    <tr>
                        <th scope="col">Tipo </th>
                        <th scope="col">Descripción </th>
                        <th scope="col">Precio </th>
                        <th scope="col">Habitación </th>
                    </tr>
                </thead>

                <!-- Por cada usuario en personas quiero que haga lo siguiente  -->
                <!-- Table row (tr) donde quiero obtener el valor -->
                <!-- Table data (td) -->
                <tbody>

                    <!-- el thymeleaf block lo que va a hacer es ejecutar cierta lógica o cierto código basada en los parámetros que nosotros le enviemos -->
                    <!-- el thymeleaf each: Por cada usuario en personas (por cada objeto que tenemos en nuestra lista de personas) quiero que me haga lo siguiente -->
                <th:block th:each="user : ${dormitorios}">
                    <tr>
                        <!-- El texto lo voy a sustituir por el user.getNombre, que este caso trae de la BD el Nombre de la persona 
                        esto se llama del método que está en nuestra entidad -->
                        <td th:text="${user.getTipo}"></td>
                        <td th:text="${user.getDescripcion}"></td>
                        <td th:text="${user.getPrecio}"></td>
                        <td th:text="${user.getHabitacion}"></td>

                    </tr>
                </th:block>
                </tbody>
            </table>
    </body>
</html>
